@charset "UTF-8";

/* Default styles */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

#container {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#header {
  min-height: 70px;
  width: 100%;
  background-color: #F4B667;
  border: solid 1px transparent;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: 'Comme', sans-serif;
  justify-content: center;
  display: flex;
  align-items: center;
}

.logo {
  text-align: left;
  display: block;
}

#logo {
  float: left;
  margin-top: 13px;
  margin-right: 210px;
}

#navi {
  list-style: none;
  text-align: center;
}

#navi li {
  display: inline;
  padding-left: 12px;
  padding-right: 12px;
}

#navi li a {
  color: #504B4B;
  text-decoration: none;
  font-size: 21px;
}

#navi li a:hover {
  text-decoration: underline;
  color: #FCF684;
}

.search {
  display: inline;
  margin-left: 210px;
}

.mycart {
  display: inline;
}

#main {
  min-height: 450px;
  width: 100%;
  border: solid 0px transparent;
  background-color: #FBF7E2;
  text-align: left;
  font-size: 17px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 85px;
  padding-bottom: 65px;
}

.mainjuice {
  order: 2;
}

.maintext {
  order: 1;
  margin-right: 100px;
  margin-top: 70px;
}

h1 {
  font-size: 55px;
  font-family: 'Concert One', cursive;
}

h2 {
  font-size: 45px;
  font-family: 'Concert One', cursive;
}

p {
  margin-top: -17px;
  font-family: 'Comme', sans-serif;
  font-size: 21px;
}

/* Style buttons */
.btn {
  background-color: #FDF670;
  border-radius: 10px;
  border-color: #FDF670;
  color: #504B4B;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 21px;
  font-family: 'Comme', sans-serif;
  margin-top: 13px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #E6A554;
}

.clearfix {
  overflow: auto;
}

#why-us {
  text-align: center;
  background-color: #FFFFFF;
  width: 100%;
  padding-top: 5px;
}

.reason {
  display: flex;
  justify-content: center;
  font-size: 17px;
  margin-bottom: 48px;
}

#why-us .reason {
  font-family: 'Concert One', cursive;
}

.reason .cell p {
  font-family: 'Concert One', cursive !important;
}

.cell {
  text-align: center;
}

.cell img {
  margin-top: -17px;
  margin-bottom: 28px;
}

/* Add space between cells */
.cell:not(:last-child) {
  margin-right: 175px;
}

#about {
  background-color: #FBF7E2;
  width: 100%;
  min-height: 150px;
  padding-top: 20px;
  padding-bottom:50px;
}

.abouttext {
  text-align: center;
  font-size: 17px;
}

#bestselling {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

#bestselling h2 {
  margin-top: 58px;
}

.bestname p {
  margin-top: 10px;
}

.add1 img {
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: -48px;
  margin-left: 140px;
}

.product:not(:last-child) {
  margin-right: 110px;
  margin-left: 40px;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  margin-left: 10px;
  margin-right: 10px;
}

.product:nth-child(n+4) {
  display: none;
}

.navigation {
  display: flex;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  padding-left: 105px;
  padding-right: 125px;
}

.navigation.back {
  left: 0;
}

.navigation.next {
  right: 0;
}

.back,
.next {
  opacity: 0.5;
  cursor: pointer;
}

.back:hover,
.next:hover {
  opacity: 1;
}

/* Style buttons */
.btnn {
  background-color: #FDF670;
  border-radius: 10px;
  border-color: #FDF670;
  color: #504B4B;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 21px;
  font-family: 'Comme', sans-serif;
  margin-top: 13px;
  margin-bottom: 35px;
}

/* Darker background on mouse-over */
.btnn:hover {
  background-color: #E6A554;
}

#whatsaid {
  text-align: center;
  margin-bottom: 20px;
  min-height: 268px;
  padding-top: 50px;
  padding-bottom: 38px;
}

.whatsaid-background {
  background: url("whatsaidbackground.png") no-repeat;
  background-size: 100% 90%;
  margin-left: 120px;
  margin-right: 120px;
}

.comment {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  text-align: left;
}

.cus {
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-size: 17px;
  margin-top: -10px;
}

.cus img {
  margin-right: 20px;
}

.cus p {
  margin: 0;
}

.cus:not(:last-child) {
  margin-right: 140px;
}

#slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -55px;
}

.star {
  margin-right: 40px;
  margin-top: 40px;
  margin-left: -100px;
}

.content {
  text-align: center;
}

.color1 {
  color: #FDF670;
}

.color2 {
  color: #F1A241;
}

.color3 {
  color: #3D80E4;
}

#proof {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  background-color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 43px;
}

.proof-content {
  margin-right: 50px;
}

.proof-image {
  margin-left: 50px;
}

/* Style buttons */
.btnnn {
  background-color: #FDF670;
  border-radius: 10px;
  border-color: #FDF670;
  color: #504B4B;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 21px;
  font-family: 'Comme', sans-serif;
  margin-top: 13px;
  margin-bottom: 15px;
}

/* Darker background on mouse-over */
.btnnn:hover {
  background-color: #E6A554;
}

#info {
  display: flex;
  align-items: flex-start;
  background-color: #F4B667;
  justify-content: center;
  text-decoration-color: #504B4B;
  padding-top: 23px;
}

#logoo {
  margin-right: 230px;
  margin-top: 60px;
}

.abtus {
  margin: 20px;
}

.abtus h3 {
  margin-bottom: 10px;
  font-size: 21px;
}

.abtus p {
  margin: 5px 0;
  font-size: 16px;
}

.abtus a {
  text-decoration: none;
  color: #504B4B;
}

.abtus a:hover {
  text-decoration: underline;
  color: #FCF684;
}

.abtus:not(:last-child) {
  margin-right: 50px;
}

.abtus-container {
  display: flex;
}

.abtus-container > div {
  margin-right: 30px;
}

.abtus:not(:last-child) {
  margin-right: 100px;
}

h3 {
  font-family: 'Concert One', cursive;
}

#footer {
  background-color: #F4B667;
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
}

.foot {
  margin-top: 55px;
  margin-bottom: 0px;
}

.foot p {
  font-size: 14px;
  margin-left: 500px;
}

.backtotop {
  margin-left: 508px;
  margin-bottom: 5px;
}

/* Media Queries */
@media (max-width: 768px) {
  #header {
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 14px;
  }

  .logo {
    text-align: center;
  }

  #logo {
    float: none;
    margin: 0 auto;
    margin-top: 6px;
    margin-right: 0;
  }

  #navi {
    margin-left: 0;
    margin-top: 6px;
    padding: 0;
  }

  #navi li {
    display: block;
    padding: 5px;
  }

  #navi li a {
    font-size: 16px;
  }

  .search {
    margin-left: 0;
    margin-top: 6px;
  }

  .mycart {
    display: none;
  }

  #main {
    font-size: 14px;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .maintext {
    margin-right: 0;
    margin-top: 30px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    margin-top: -14px;
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
    margin-top: 6px;
  }

  #why-us .reason {
    font-size: 14px;
  }

  .reason .cell p {
    font-size: 14px !important;
  }

  .product {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
  }

  .product:not(:last-child) {
    margin-right: 70px;
    margin-left: 25px;
  }

  .navigation {
    padding-left: 30px;
    padding-right: 50px;
  }

  .back,
  .next {
    margin-top: 6px;
  }

  .btnn {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 10px;
  }

  #whatsaid {
    min-height: 200px;
    padding-top: 10px;
  }

  .comment {
    margin-bottom: 10px;
  }

  .cus {
    font-size: 14px;
  }

  .cus:not(:last-child) {
    margin-right: 80px;
  }

  #slogan {
    margin-top: -35px;
  }

  .star {
    margin-right: 20px;
    margin-top: 20px;
    margin-left: -80px;
  }

  .content {
    font-size: 14px;
  }

  #proof {
    min-height: 300px;
  }

  .proof-content {
    margin-right: 30px;
  }

  .proof-image {
    margin-left: 30px;
  }

  .btnnn {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 10px;
  }

  #info {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  #logoo {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .abtus:not(:last-child) {
    margin-right: 0;
  }

  .foot p {
    margin-left: 350px;
  }

  .backtotop {
    margin-left: 358px;
  }
}

@media (max-width: 600px) {
  #navi {
    display: none;
  }

  .search {
    display: none;
  }

  .mycart {
    display: none;
  }

  .maintext {
    margin-right: 0;
    margin-top: 15px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    margin-top: -14px;
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
    margin-top: 10px;
  }

  .reason .cell p {
    font-size: 12px !important;
  }

  .product {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
  }

  .product:not(:last-child) {
    margin-right: 40px;
    margin-left: 15px;
  }

  .navigation {
    padding-left: 10px;
    padding-right: 30px;
  }

  .back,
  .next {
    margin-top: 10px;
  }

  .btnn {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .comment {
    margin-bottom: 10px;
  }

  .cus {
    font-size: 12px;
  }

  .cus:not(:last-child) {
    margin-right: 60px;
  }

  #slogan {
    margin-top: -35px;
  }

  .star {
    margin-right: 20px;
    margin-top: 20px;
    margin-left: -80px;
  }

  .content {
    font-size: 14px;
  }

  #proof {
    min-height: 300px;
  }

  .proof-content {
    margin-right: 20px;
  }

  .proof-image {
    margin-left: 20px;
  }

  .btnnn {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #info {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  #logoo {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .abtus:not(:last-child) {
    margin-right: 0;
  }

  .foot p {
    margin-left: 250px;
  }

  .backtotop {
    margin-left: 258px;
  }
}
